<div class="text-center">
    <h1 class="display-4">Curriculum of Sergi Castillo in ASP.net</h1>
    <p>Programmer & Systems Administrator</p>
    <img id="imgprincipal" src="~/img/asp.netlogo.png"/>
</div>
