@{
    ViewData["Title"] = "My Future";
}
<h1>@ViewData["Title"]</h1>
<div id="futuro">
<h1>In the future</h1>
<h2>I would like to be DevOps*</h2>
<img id="imgdevops" src="~/img/devops.png"/>
<br />
<video src="~/video/devops.mp4" height="45%" width="45%" controls></video>
<audio src="~/audio/musicafondo.mp3" autoplay loop hidden></audio>
</div>
<p>*God willing</p>
