@{
    ViewData["Title"] = "Mi Currículum";
}
<h1>@ViewData["Title"]</h1>

<embed src="~/pdf/curriculum.pdf" type="application/pdf" width="100%" height="800px" />

<a href="~/pdf/curriculum.pdf" download="~/pdf/curriculum.pdf">Descargar</a>