@{
    ViewData["Title"] = "Mis Estudios";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="table-responsive">
    <table class="table table-bordered   table-striped" style="margin-top:100px">
      <thead class="table__head">
        <tr class="winner__table">
          <th><i class="fa fa-user" aria-hidden="true"></i>Título</th>
          <th><i class="fa fa-map-marker" aria-hidden="true"></i> Duración</th>
          <th><i class="fa fa-map-marker" aria-hidden="true"></i> Nota media</th>
          <th><i class="fa fa-map-marker" aria-hidden="true"></i> Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr class="winner__table">
          <td>Grado Medio en Sistemas Microinformaticos y Redes</td>
          <td>2 años</td>    
          <td>7</td>   
          <td>Finalizado</td>   
        </tr>

        <tr class="winner__table">
          <td>Grado Superior en Administración de Sistemas Microinformaticos y Redes</td>
          <td>2 años</td>    
          <td>9</td>   
          <td>Finalizado</td>   
        </tr>

         <tr class="winner__table">
          <td>Grado Superior en Desarrollo de Aplicaciones Web</td>
          <td>1 año</td>    
          <td>8</td>   
          <td>Cursando</td>   
        </tr>        
      </tbody>
    </table>
    </div>
     <img id="codigosprogramacion" style="padding-top: 5%; padding-left: 20%; width: 80%; height: 80%;" src="~/img/codigos.jpg"/>
  </div>