<div class="text-center">
    <h1 class="display-4">Currículum de Sergi Castillo en ASP.net</h1>
    <p>Programador & Administrador de Sistemas</p>
    <img id="imgprincipal" src="~/img/asp.netlogo.png"/>
</div>
