@model CurrículumASP.Models.ClassEmail

<body>
<h1>Formulario de Contacto</h1>
<form asp-controller="Home" asp-action="metodoEmail" method="post"  >
    <div class="mb-3">
        <label for="asunto" class="form-label">asunto</label>
        <input type="text" class="form-control" id="asunto" name="asunto" placeholder="asunto" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="nombre@monlau.com"/>
    </div>
    <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</body>