@{
    ViewData["Title"] = "Mis Proyectos";
}
<h1>@ViewData["Title"]</h1>

<div class="row left">
    <p>Aquí encontrarás todos los proyectos en los que he trabajado.</p>

     <div class="card col-4 margins" style="width: 18rem;">
      <img src="~/img/ecommerce.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ecommerce</h5>
        <p class="card-text">Web de venta de videojuegos como proyecto de PHP</p>
        <a href="#" class="btn btn-primary">Ir al Ecommerce</a>
      </div>
    </div>

    <div class="card col-4 margins" style="width: 18rem;">
      <img src="~/img/itcrowd1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ciberseguridad</h5>
        <p class="card-text">Web realizada con HTML y CSS para el proyecto final de ASIX</p>
        <a href="#" class="btn btn-primary">Ir a la web de Ciberseguridad</a>
      </div>
    </div>

    <div class="card col-4 margins" style="width: 18rem;">
      <img src="~/img/aliexpress.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Aliexpress</h5>
        <p class="card-text">Creación de la sección de pagos y usuarios de la página de Aliexpress</p>
        <a href="https://es.aliexpress.com/" class="btn btn-primary">Ir a la web de Aliexpress</a>
      </div>
    </div>
</div>

<div class="row left">
     <div class="card col-4 margins" style="width: 18rem;">
      <img src="~/img/amazon.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Amazon</h5>
        <p class="card-text">Configuración de una gran parte de la página de Amazon con Python.</p>
        <a href="https://www.amazon.es/" class="btn btn-primary">Ir a la web de Amazon</a>
      </div>
    </div>

    <div class="card col-4 margins" style="width: 18rem;">
      <img src="~/img/bofrost.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bofrost*</h5>
        <p class="card-text">Creación de una web para la empresa Bofrost* con HTML, CSS y JS</p>
        <a href="https://www.bofrost.es/es/" class="btn btn-primary">Ir a la web de Bofrost*</a>
      </div>
    </div>

    <div class="card col-4 margins" style="width: 18rem;">
      <img src="~/img/fortinet.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ciberseguridad</h5>
        <p class="card-text">6 meses trabajando en Fortinet en ciberseguridad para detener ataques rusos</p>
        <a href="https://www.fortinet.com/lat" class="btn btn-primary">Ir a la web de Fortinet*</a>
      </div>
    </div>
</div>
