html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#imgprincipal {
    margin-bottom: 40px;
}

.left {
    padding-left: 25%;
}

.margins {
    margin: 1%;
}

li {
    list-style: none;
}

.progreso {
    padding-right: 20%;
}

.nivel {
    width: 500px;
}

.table__head {
    color: #FFF;
    font-weight: 700;
    background: #9b4085;
    background: -moz-linear-gradient(-45deg, #9b4085 0%, #608590 100%);
    background: -webkit-linear-gradient(-45deg, #9b4085 0%,#608590 100%);
    background: linear-gradient(135deg, #9b4085 0%,#608590 100%);
    white-space: nowrap;
}

.table-bordered td, .table-bordered th {
    border: 0px solid #FFF;
}

.coin {
    width: 8%;
    margin-left: 5px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.winner__table {
    white-space: nowrap;
}

@media screen and (max-width: 567px) {

    .winner__table {
        font-size: 12px;
    }

    .coin {
        width: 15%;
        margin-left: 2px;
    }
}
